img {
    width: 1200px;
    height: 600px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --slider-width: 1200px;
}

.slider {
    outline: 2px solid red;
    width: var(--slider-width);
    height: 600px;
    overflow: hidden;
}

.sliders {
    /*  크기 = width X 이미지 장수 */
    width: calc(1200px * 3);
    outline: 4px solid blue;
    display: flex;
    /*  이미지 위치 변경 */
    transform: translateX(0);

    /* 트랜지션 */
    transition-duration: 0.4s;
}


